.f1 {
    color: #292929;
    font-family: Poppins;
    margin-top: 4%;
    padding-left: 4%;
    font-size: 27.113px;
    font-weight: 600;

}

.f2 {
    font-size: 70%;
    font-weight: 100;
}

.p1 {
    font-size: 150%;
    font-family: Poppins;
    font-weight: 600;
    color: blue;
}

.container-1 {
    width: 60%;
    height: 130%;
    position: absolute;
    top: 24%;
    left: 24%;
    display: flex;

}

.container-1 .col {
    margin-right: 20%;
}

.col p1 {
    padding-top: 10%;
    text-align: center;
}

.img-1::after,
.img-1::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 25%;
    height: 29%;
}

.img-1::after {
    background: rgb(0, 59, 140, 100%);
    transform: rotate(10deg);
    border-radius: 5%;
    transition-duration: 300ms;
    left: 1%;
}

.img-1::before {
    background: rgb(0, 59, 140, 40%);
    transform: rotate(-10deg);
    border-radius: 5%;
    transition-duration: 300ms;


}

.img-1:hover::after {
    transform: rotate(-9deg);
    transition-duration: 300ms
}

.img-1:hover::before {
    transform: rotate(10deg);
    transition-duration: 300ms;
}



.img-2::after,
.img-2::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 25%;
    height: 29%;
}

.img-2::after {
    background: rgb(248, 219, 57, 100%);
    transform: rotate(9deg);
    border-radius: 5%;
    transition-duration: 300ms;
    left: 45%;


}

.img-2::before {
    background: rgb(248, 219, 57, 40%);
    transform: rotate(-10deg);
    border-radius: 5%;
    transition-duration: 300ms;


}

.img-2:hover::after {
    transform: rotate(-9deg);
    transition-duration: 300ms
}

.img-2:hover::before {
    transform: rotate(10deg);
    transition-duration: 300ms;
}

.img-3::after,
.img-3::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 25%;
    height: 29%;
}

.img-3::after {
    background: rgb(236, 111, 112, 100%);
    transform: rotate(9deg);
    border-radius: 5%;
    transition-duration: 300ms;
    left: 89%;
    top: 0%;

}

.img-3::before {
    background: rgb(236, 111, 112, 40%);
    transform: rotate(-10deg);
    border-radius: 5%;
    transition-duration: 300ms;


}

.img-3:hover::after {
    transform: rotate(-9deg);
    transition-duration: 300ms
}

.img-3:hover::before {
    transform: rotate(10deg);
    transition-duration: 300ms;
}

.f3 {
    padding-top: 42%;
    color: #292929;
    font-family: Poppins;
    padding-left: 4%;
    font-size: 27.113px;
    font-weight: 600;
}

.box {
    margin-top: 4%;
    margin-left: 8%;
    background-color: #003050;
    width: 90%;
    height: 1500%;
    border-radius: 18px;
}
.box2 {
    margin-top: 4%;
    margin-left: 5%;
    background-color: #101314;
    width: 90%;
    height: 1500%;
    border-radius: 18px;
}
.box3 {
    margin-top: 4%;
    margin-left: 0%;
    background-color: #3b98b7;
    width: 90%;
    height: 1500%;
    border-radius: 18px;
}
















/*  
.img1 {
    width: 100%;
    height: 100%;
    position: relative;
    left: 3em;
    margin-right: 3em;
    background-image: url(
https://media.geeksforgeeks.org/wp-content/uploads/20201230184929/htmlcssjslogo.png);
    background-size: cover;
    background-position: center;
}
 
.img1::after,
.img1::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
 
.img1::after {
    background: rgb(255, 255, 255);
    transform: rotate(3deg);
}
 
.img1::before {
    background: rgb(50, 205, 50);
    transform: rotate(-3deg);
}
 
.img2 {
    width: 100%;
    height: 100%;
    position: relative;
    left: 10em;
    background-image: url(
https://media.geeksforgeeks.org/wp-content/uploads/20201230184929/htmlcssjslogo.png);
    background-size: cover;
    background-position: right;
    animation: shrink 1s;
}
 
.img2::after,
.img2::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
 
.img2::after {
    background: rgba(255, 255, 255, 0.829);
    transform: rotate(7deg);
}
 
.img2::before {
    background: rgba(50, 205, 50, 0.836);
    transform: rotate(-7deg);
}
  */
/* Animations Effect */
/* @keyframes todown {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }
 
    60% {
        opacity: 0.6;
        transform: translateY(1.2em);
        transform: scale(0.5, 0.5);
        color: rgb(0, 0, 255);
    }
 
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* @keyframes shrink {
    0% {
        transform: scale(0, 0);
    }
 
    50% {
        transform: scale(0.5, 0.5);
    }
 
    100% {
        transform: scale(1, 1);
    }
} */