.inprogress {
    color: #292929;
    font-size: 150%;
    font-family: Poppins;
    font-weight: 600;
    margin-top: 5%;
}

.ybox {
    width: 48%;
    height: auto;
    background-color: red;
    border-radius: 20px;
    background: #F8DB39;
    margin-right: 2%;
}
.ybox1 {
    width: 48%;
    height: auto;
    background-color: red;
    border-radius: 20px;
    background: #F8DB39;
}
.pbox{
    width: 48%;
    height: auto;
    background-color: red;
    border-radius: 20px;
    margin-right: 2%;
    margin-top: 2%;
    background-color: #EC6F70;
}
.pbox1{
    width: 48%;
    height: auto;
    background-color: red;
    border-radius: 20px;
    margin-top: 2%;
    background-color: #EC6F70;
}

.hfive{
    margin-top: 2%;
    color: white;
    margin-left:3% ;
}
.para{
    color: white;
    margin-left: 3%;
    margin-right: auto;
    font-size: 80%;
}
.cpro{
    margin-top: 40%;
    margin-left: 15%;
}

.proimg {
    position: absolute;
    transform-origin: left center;
  }
  
  [data-progress] .proimg {
    transform: scaleX(var(--progress));
    transform-origin: left center;
    transition: transform 0.5s ease-in-out;
  }
.col-3{
    background-color: green;
}