.column-3 {
  float: left;
  width: 40%;
  
}
.column-4{
  float: left;
  width: 60%;

}
.box-1{
  margin-top: 7%;
  width: 100%; 
  height: 540px;
  flex-shrink: 0;
  border-radius: 40px; 
  background: #F5F7FF; 
}
.box-2{
  width: 85%;
  height:24%;
  flex-shrink: 0;
  border-radius: 18px;
  background: #003050;
  margin-left: 8%;
  margin-top: 5%;
  /* margin: 8%; */
  line-height: 1px;
 
}
.box-3{
  width: 85%;
  height:24%;
  flex-shrink: 0;
  border-radius: 18px;
  background: #F8DB39;
  margin-left: 8%;
  margin-top: 5%;
  /* margin: 8%; */
 
}
.box-4{
  width: 85%;
  height:24%;
  flex-shrink: 0;
  border-radius: 18px;
  background: #EC6F70;
  margin-left: 8%;
  margin-top: 5%;
  /* margin: 8%; */
 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
  

.myactivity{
  color: #292929;
  font-size: 150%;
  font-family: Poppins;
  font-weight: 600;
}
.month{
  color: #003B8C;
  font-size: 80%;
  font-family: Poppins;
  font-weight: 600;
}
.activitybox{
  line-height: 10px;
}
.activitybox-1{
  line-height: 1px;
  padding-top: 8%;
}
.activitybox-2{
  line-height: 10px;
  
  padding-left: 9%;
}

.arrow{
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-left: 65%;
}

.box-1 h6{
margin-left: 6%;
padding-right: 13%;
color: #FFF;
font-size: 65%;
font-family: Poppins;
font-weight: 200;
padding-top: 2%;
flex-direction: column;
flex-shrink: 0;


  
}
.history{
  color: #FFF;
  font-size: 10.703px;
   font-family: Poppins;
   font-weight: 500;
  
   padding-left: 10%;

}
.lorem-1{
  color: #FFF;
  font-size: 90%;
  font-family: Poppins;
  font-weight: 600;
  padding-left: 10%;
  text-decoration: none;
  
}


/* BOXS  */

.boxs-1{
  width: 57px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #F5F7FF;
  margin-left: 35%;
}

.btn-2{
 
 padding-left: 57%;

}


.profile{
  line-height: 1px;
  padding-top: 6%;

  
}
.pro-1{
  color: #003050;
font-size: 100%;
font-family: Poppins;
font-weight: 1000;
}
.pro-2{
  color: #00D1FF;
font-size: 12px;
font-family: Poppins;
font-weight: 500;
}


/* BOXS-2 */

.boxs-2{
  
  padding-top: 10%;
  margin-top: 4%;
  width: 98%;
  height: 430px;
  border-radius: 40px;
  background: #EDFBFF;
  
}